*
!.gitignore
!describe_video.py
!new_describe_video.py
!readme.md
!requirements.txt
!tmp/
!ffmpeg_helper.py
!pyproject.toml
!.python-version
!audio_block_detect.py
!describe_scene.py
!text_to_speech.py
!visual_scene_detect.py
!process_video.py
!visual_scene_detect_clip.py
!visual_detection_simple.py